<header>
    <div class = "title">
    <h2> ** SF Movie ** </h2>
    </div>
</header>

<div class="menu">
    <h4>Choose your favourite movie:</h4>

    <div class='input col-xs-3'>
        <input class = "form-control" type="text" placeholder= "Search By Movie" data-query-param="title_name"><span class="remove">x</span>
    </div>

    <div class="col-xs-3 id="list">  
        <ul data-container="results" class="dropdown-menu" role="menu" id="movies"></ul>
    </div>
</div>
<div class="col-xs-12" style="height: inherit;">
    <div id="map"></div>
</div>




